# Виртуальное окружение
.venv/
venv/
ENV/

# База данных (твоя локальная)
*.sqlite3

# Кэш Python
__pycache__/
*.pyc

# Медиа и статика (загруженные аватарки и т.д.)
media/
staticfiles/

# Настройки IDE
.idea/
.vscode/

.env